.typeFilter {
  display: flex;
  flex-direction: column;
  width: 243px;
  button {
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    text-align: start;
    font-size: 1.4rem;
    color: black;
    &:hover {
      background: #f6f6f7;
    }
  }
  .selected {
    background: #f2f7fe;
  }
}
