.itemWrapper {
  cursor: pointer;
  &:hover {
    background: #fafbfc;
  }
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .avatarCnt {
    flex: 1.1;

    .avatar {
      height: 35px;
      width: 35px;
    }

    .avatarStub {
      height: 35px;
      width: 35px;
      background-color: #c4c4c4;
    }
  }

  .info {
    flex: 9;
    display: flex;
    flex-direction: column;

    .line {
      font-size: 14px;
      font-weight: 400;
      color: #949fb7;
    }
  }
}

.leftBlock {
  display: flex;
  align-items: center;
  height: 6rem;
  @media (max-width: 1065px) {
    flex-direction: column;
    align-items: unset;
    height: 10rem;
  }

  .blockInfo {
    flex: 7;
    display: flex;
    flex-direction: column;

    .blockTitle {
      font-size: 14px;
      font-weight: 400;
    }
    .blockText {
      font-size: 12px;
      font-weight: 300;
      color: #949fb7;
    }
  }

  .blockBtnCnt {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .blockBtn {
      button {
        background: linear-gradient(180deg, #fafbfc 0%, #ebeff2 100%);
        border: 1px solid #c4cdd5;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
        border-radius: 3px;
        width: 149px;
      }
    }
  }
}
