$color: rgba(193, 200, 215, 0.55);

.table {
  margin-top: 15px;
  margin-bottom: 50px;

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $color;
    border-radius: 3px;

    & * {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__header_item {
    display: flex;
    align-items: center;
    flex: 1 1;

    p {
      margin-right: 10px;
    }
  }

  &__row {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid $color;

    p {
      flex: 1 1;
    }
  }

  &__header,
  &__row {
    padding: 10px 31px;
  }
}

.popover {
  &__btn {
    transition: all 0.2s ease;

    &.active {
      transform: rotate(180deg);
    }
  }

  &__item {
    padding: 16px;

    &.datepicker {
      max-width: 280px;
    }
  }
}

.loading_row {
  width: calc(100% / 4);
}