.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0 20px;
}

.actions {
  width: 156px;
  height: 60px;
}

.title {
  h2 {
    font-weight: 500 !important;
  }
}

.action {
  background-color: white;
  border: 0;
}
