$mobile-max-width: 1050px;

.productSubtitle,
.sectionTitle {
  font-size: 18px;
  font-weight: 600;

  @media (max-width: $mobile-max-width) {
    font-size: 16px;
  }
}

.description {
  font-size: 16px;
  font-weight: 300;

  @media (max-width: $mobile-max-width) {
    font-size: 14px;
  }
}

.skillsTitle {
  font-size: 18px;
  font-weight: 600;

  @media (max-width: $mobile-max-width) {
    font-size: 16px;
  }
}

.skillsContainer {
  width: 49%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.certificateTitle {
  font-size: 18px;
  font-weight: 600;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  button {
    width: 88px;
    background: linear-gradient(180deg, #fafbfc 0%, #ebeff2 100%);
    border: 1px solid #c4cdd5;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
    border-radius: 3px;
  }
  button:nth-child(1) {
    margin-right: 5px;
  }
}

.sticky__mobile {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
}

.myProfile {
  &__educationActionButtons {
    display: flex;
    justify-content: space-between;
    button {
      width: 88px;
      background: linear-gradient(180deg, #fafbfc 0%, #ebeff2 100%);
      border: 1px solid #c4cdd5;
      box-sizing: border-box;
      box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
      border-radius: 3px;
    }
    button:nth-child(1) {
      margin-right: 5px;
      background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
      &:hover {
        border: 1px solid #c4cdd5;
      }
    }
  }

  &__educationsEditButton {
    display: flex;
    justify-content: space-between;
  }

  &__educationsEditButtonContainer {
    margin-top: 10px;
  }

  &__certificatesEditButton {
    text-align: right;
    margin-top: 5px;
  }

  &__certificateName {
    color: #596172;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  &__certificateNameOrganization {
    margin-top: 5px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #596172;
  }

  &__certificateContainer {
    margin-top: 15px;
    display: flex;
  }

  &__certificatesActionsContainer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    &__subcontainer {
      display: flex;
    }
  }

  &__certificateSubContainer {
    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__attachedFilesContainer {
    width: 70%;
    margin-left: 15px;
    position: relative;
    display: flex;
    flex-direction: column;

    &__subContainer {
      width: 100%;
      bottom: 5px;
      left: 0;
      margin-top: 10px;
      flex: 1;

      &__item {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        &__nameContainer {
          display: flex;
        }

        &__name {
          display: flex;
          align-items: center;
        }

        &__icon {
          transform: rotate(45deg);
          cursor: pointer;
        }
      }
    }
  }
}

.divider {
  border-top: 0.1rem solid var(--p-divider);
  height: 0.1rem;
  margin-top: 20px;
}
