.wrapper {
  margin-top: 48px;
}
.content {
  margin: 48px 0 48px 48px;
}
.contentText {
  margin-top: 4px;
  margin-left: 4px;
  max-width: 200px;
}
.icon {
  background-color: #e9ecf2;
  padding: 5px;
  border-radius: 2px;
}
