@import 'src/assets/styles/_mixins';

.mobileDecorationImage {
  display: none;

  @media (max-width: $screen-xs-max) {
    display: block;
    margin: 20px 0 0;
  }

  .image {
    height: 310px;
    border-radius: 3px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
