@import 'src/assets/styles/_mixins';

.formRowTitle {
  display: none;
}


.grayBackground {
  background: #FBFBFC !important;
}

.newPasswordContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;

  main {
    flex: 1 1;
  }
}

.passInfo {
  padding-top: 5px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */


  color: #000000;

  @media (max-width: $screen-xs-max) {
      padding-top: 5px;
      font-size: 14px !important;
      font-weight: 400;
  }
}

@media (max-width: $screen-xs-max) {
  body {
    background-color: #fff;
  }

  .page {
    display: flex;
    justify-content: center;
  }

  .formRowTitle {
    display: block;
    font-size: 15px;
    font-weight: 400;
  }

  .formWrapper {
    padding: 80px 20px 0 !important;
  }

  .loginForm {
    max-width: 295px !important;
    width: 295px !important;
  }

  .btnPass {
    top: 20px !important;
  }

  .mobileDecorationImage {
    display: none !important;
  }

  .mobileFooterGroup {
    position: relative;
    top: 2.5rem;
    width: 100vw;
  }
}
