.sectionTitle {
  padding-bottom: 20px;

  &.paddingTop {
    padding-top: 20px;
  }

  span.divider {
    display: block;
    width: 100%;
    height: 1px;
    background: #f4f6f8;
    box-shadow: inset 0px -1px 0px #dfe3e8, inset 0px 1px 0px #dfe3e8;
    margin-top: 20px;
  }

  h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
}
