.educationItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__years {
    font-size: 14px;
    font-weight: 400;
    color: #c1c8d7;
    line-height: 2.1rem;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 2.1rem;
  }
}

.bordered {
  border-top: 1px solid #dfe3e8;
  margin-top: 1rem;
  padding-top: 1rem;
}
