.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.label {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.counter {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #949fb7;
}