$primary: linear-gradient(229.33deg, #248ad3 14.1%, #bacad3 139.44%);
$primary-hover: linear-gradient(229.33deg, #248ad3 14.1%, #1ea6f5 139.44%);
$primary-one-color: #248ad3;
$primary-text: #212b36;
$active-link: #006fbb;
$header-bg: #151b26;
$avatar-bg: #596172;
$table-bg: #edfaf4;
$tag-bg: #86cdff73;
$light-bg-selected: #edeeef;
