.title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  padding: 5.2rem 2rem 0;

  @media(max-width: 48.0625em) and (min-width: 30.625em), (min-width: 45.625em) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 40em) {
    font-size: 2.8rem;
    line-height: 3.2rem;
    padding-bottom: 1rem;
  }
}
