.scrollable_ul {
  padding: 8px;
}
.scrollable_li {
  list-style: none;
  padding: 8px 10px;
  p {
    font-size: 14px;
    line-height: 20px;
  }

  &:hover {
    background: #f6f6f7;
    cursor: pointer;
  }
}
